server:
  port: 8080

spring:
  application:
    name: "api-gateway"
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: user-service
              uri: http://user-service:8081
              predicates:
                - Path=/api/auth/**
            - id: ingestion-service
              uri: http://ingestion-service:8082
              predicates:
                - Path=/api/transactions/**
            - id: results-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/results/**

jwt:
  secret: ${JWT_SECRET}
