server:
  port: 8080

spring:
  application:
    name: "api-gateway"
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/auth/**

jwt:
  secret: fraudshield-super-secret-key-2026
