server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/userdb
    username: postgres
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

