server:
  port: 8083

spring:
  application:
    name: results-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://postgres-results:5432/resultsdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
